.kek{
    border: 1px solid blue;
    border-radius: 5px;
    margin-bottom: 50px;
}

.kekcim{
    background-color: lightblue;
    padding: 10px;
}

.kekszoveg{
    padding: 15px;
    height: 500px;
}

code{
    background-color: lightgray;
}

img{
    height: 20px;
    margin-bottom: -5px;
    margin-right: 10px;
}

.sarga{
    border: 1px solid rgb(246, 149, 38);
    border-radius: 5px;
}

.sargacim{
    background-color: rgb(254, 244, 233);
    padding: 10px;
}