main{
    width: 70%;
    margin: 0 auto;
    padding: 10px;
    color: red;
}

p{
    color: white;
}

.card-text, .card-title{
    color: black;
}

span{
    color: white;
}


.nav-link{
    color: white;
}

h1{
    text-align: center;
    color: white;
}

@media (max-width: 991px) and (min-width: 768px) {
    .card {
        width: 100% !important;
    }
}